@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Aby dołączyć do turniej <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a></p>
</div>
